* {
  margin: 0;
  padding: 0;
}

.swithDivContain {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.longCanvas {
  transition: all 1s;
}

/* 引言部分 */
.introduction {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/pic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 1s;
  overflow: hidden;
  position: relative;
}

@keyframes whiteToBlk50 {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.mask {
  width: 100vw;
  height: 100vh;
  position: absolute;
  animation: whiteToBlk50 1s ease-out 1s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introductionText {
  color: #fff;
  font-size: 28px;
}

.introductionTitle {
  color: #fff;
  font-size: 22px;
}

@keyframes opctZeroToOne {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.introductionText span:first-child {
  opacity: 0;
  animation: opctZeroToOne 0.5s ease-out 2s forwards;
}

.introductionText span:last-child {
  opacity: 0;
  animation: opctZeroToOne 0.5s ease-out 3s forwards;
}

.introductionTitle {
  opacity: 0;
  animation: opctZeroToOne 0.5s ease-out 4s forwards;
  transform: translate(0px, 100px);
}

@keyframes breath {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.seeMore {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 5vh;
  color: #fff;
  animation: breath 2s ease-in-out infinite;
  z-index: 999;
}

#seeMore {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 1.5vh;
  color: #fff;
  animation: breath 2s ease-in-out infinite;
  z-index: 999;
}

/* 引言部分结束 */

/* 个人介绍 */
@keyframes movement {

  0%,
  100% {
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
      110vmax 110vmax, 90vmax 90vmax;
    background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
      -30vmax -10vmax, 50vmax 50vmax;
  }

  25% {
    background-size: 100vmax 100vmax, 90vmax 90vmax, 100vmax 100vmax,
      90vmax 90vmax, 60vmax 60vmax;
    background-position: -60vmax -90vmax, 50vmax -40vmax, 0vmax -20vmax,
      -40vmax -20vmax, 40vmax 60vmax;
  }

  50% {
    background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax,
      60vmax 60vmax, 80vmax 80vmax;
    background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax,
      20vmax 10vmax, 30vmax 70vmax;
  }

  75% {
    background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax,
      90vmax 60vmax, 70vmax 70vmax;
    background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax,
      -10vmax 10vmax, 40vmax 60vmax;
  }
}

.showMe {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;

  background-repeat: no-repeat;
  background-color: #b6aa9d;
  background-image: radial-gradient(closest-side,
      rgb(212, 205, 203),
      rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgb(245, 206, 245), rgba(243, 11, 164, 0)),
    radial-gradient(closest-side, rgb(155, 154, 243), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side,
      rgba(170, 142, 245, 1),
      rgba(170, 142, 245, 0)),
    radial-gradient(closest-side, rgb(147, 208, 248), rgba(248, 192, 147, 0));
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
    110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
    -30vmax -10vmax, 50vmax 50vmax;

  animation: 2s movement linear infinite;
  backdrop-filter: blur(10px);
}

.showMe::after {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
}

.showMeContent {
  position: relative;
  z-index: 10;
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.headImg {
  width: 180px;
  height: 180px;
  border: solid 10px rgb(155, 154, 243);
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgb(155, 154, 243);
  background-image: url(../img/pic2.jpg);
  background-size: contain;
  animation: rotate360 15s linear infinite;
  margin: 0 auto;
  margin-top: 10vh;
}

.music {
  display: flex;
  justify-content: center;
}

.selfIntro {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  color: aliceblue;
}

.selfIntro p {
  color: #fff;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin-top: 1vh;

}

.showMeMoveup {
  transform: translateY(-100vh);
}

/* 个人介绍结束 */

/* 插件展示页 */
.nextPage {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  overflow: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.showGIF1 {
  display: block;
  border: solid 10px rgb(255, 255, 255);
  box-shadow: 3px 3px 10px rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/breakPipe.gif);
  width: 723px;
  height: 605px;
}

.showGIF2 {
  display: block;
  border: solid 10px rgb(255, 255, 255);
  box-shadow: 3px 3px 10px rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/TurnOver.gif);
  width: 1069px;
  height: 601px;
}

.Page {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  overflow: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.Page h3 {
  text-align: center;
}

#main-block {
  float: left;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px 10px;
}

.showGIF3 {
  display: block;
  border: solid 10px rgb(255, 255, 255);
  box-shadow: 3px 3px 10px rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: auto;
  background-image: url(../img/manager.gif);
  width: 967px;
  height: 728px;
}

.box {
  margin: 0px 100px;
  border: 5px dotted #cccccc;
  border-radius: 35px;
  padding: 20px;
}

.box2 {
  margin: 15px 80px;
  border: 5px solid #ccc;
  border-radius: 35px;
  padding: 20px;
}

.thankList {
  margin-top: 3vh;
  color: #fff;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.thankList a {
  color: rgb(160, 160, 160);
  text-shadow: 0px 0px 0px;
  display: inline-block;
  background-color: #fff;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px;
  text-align: center;
  margin-top: 10px;
}